

#top-container {
  height: 485px;
  margin: 0 auto;

}



/* home view */

.pig-image-container {
  height: 500px;
  padding-top: 150px;
}

.pig-image {
  min-width: 150px;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
}

.fly-pig {
}

.fly-pig-snout {
}

.fly-pig-tongue {
  overflow: hidden;
  margin: -18px 0 0 -7px;
}

.fly-pig-closed-eyes {
  visibility: hidden;
}




/* project view */

.project-container {
  min-width: 1100px;
  padding-top: 75px;
}

.project-image {
  float: left;
  width: 55%;
}

.project-image img {
  height: 400px;
}

.project-about {
  float: left;
  margin: 0 20px 0 80px;
  width: 35%;
}

.project-about h1 {
  -webkit-text-stroke: .7px #000000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-size: 33px;
}

.project-about p {
  text-align: left;
}

.project-next-button {
  float: left;
  text-decoration: none;
  margin: -100px 0 0 250px;
}




.project-about h1 a {
  display: inline;
}

.project-github-link img {
  width: 30px;
  margin-bottom: -4px;
  padding-left: 6px;
}


/* Writing */


.writing-container {
  padding-top: 65px;
  min-width: 1000px;
}

.writing-img-container {
  float: left;
  width: 55%;
}
.writing-img-container img {
  height: 400px;
  padding-left: 150px;
}

.writing-text-container {
  float: left;
  margin: 0 20px 0 80px;
  width: 35%;
  min-width: 336px;
}

.writing-text-container p {
  text-align: left;
}

.writing-text-container h1 {
  -webkit-text-stroke: .7px #000000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-size: 33px;
}

.writing-img-footer {
  font-size: 13px;
  padding-left: 150px;
}





/*  link carousel */


#footer {
  padding-top: 20px;
  text-align: center;
}

.link {
  display: inline-block;
  padding: 20px 120px 90px 15px;
}

.link-image {
  min-width: 90px;
  width: 90px;
  position: absolute;
  text-align: center;
}

#link-list-view {
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  left: 0;
  right: 0;
  white-space: nowrap;
}




/* nav bar */

.bold-nav {
  font-weight: 900;
  font-size:1.3em;
}

.nav {
  text-align: center;
  font-size: 1.17em;
  padding-right: 3.0em;
}

.nav a {
  text-decoration: none;
  padding: 0 .5em 0 .5em;
}

.nav li {
  display: inline;
}



/* elements */

a, a:active, a:focus {
  outline: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #E18484;
  text-shadow: .7px -.7px #E18484
}

body {
  min-width: 500px;
  color: #000000;
  font-family: 'Forum', futura;
  font-size: 16px;
}




/* animations */


.project-next-button-img {
    width: 53px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.project-next-button-img:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 6s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 6s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}




@media (max-width: 1000px) {
/*  .writing-img-container img {
    overflow: hidden;
  }
  .writing-img-footer {
    overflow: auto;
  }*/
}


@media (max-width: 650px) {



/* contact page */




/*project page*/

  .project-container {
    min-width: 450px;
  }
  .project-about {
    width: 320px;
  }

  .project-image {
    width: 0;
  }
  .project-image img {
    float: left;
    height: 120px;
    margin: 280px 0px 0 -220px;
  }
  .project-next-button {
    margin: -100px 0 0 100px;
  }

/* writing page */

.writing-img-container {
  display: none;
}


/* navbar */

  .nav {
    text-align: left;
    font-size: 1.17em;
    padding-left: 80px;
  }

  .link-image {
    max-width: 75px;
    min-width: 60px;
    width: 60px;
  }
  #mermaids-purse {
    padding-left: 67px;
  }
  .link {
    display: inline;
    padding: 20px 75px 90px 10px;
  }
  .pig-image-container {
    margin-left: -140px;
  }
  .pig-image {
    left: 265px;
  }




  .footer-container #footer {
    text-align: left;
  }

  #link-list-view {
     left: 101px;
     margin-left: 0px;
     margin-right: 0px;
   }

}





/* iphone 6 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

/* top container */

  #top-container {
    height: 1044px;
  }

  .pig-image-container {
    padding-top: 300px;
    position: relative;
  }

  .pig-image {
    width: 600px;
  }


/* nav */
  .bold-nav {
    font-weight: 900;
    font-size:70px;
  }

  .nav {
    text-align: center;
    font-size: 60px;
    padding-right: 0;
  }

  .nav a {
    text-decoration: none;
    padding: 0 .5em 0 .5em;
  }


/* links/footer */
  .link-image {
    width: 200px;
  }
  .link {
    display: inline-block;
    padding: 20px 215px 90px 30px;
  }
  #link-list-view {
    position: absolute;
  }

/* portfolio views */

  .project-about-container {
    height: 550px
  }

  .project-about {
    width: 80%;
  }

  h1 {
    font-size: 33px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  .project-image {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 20px;
    text-align: center;
  }

  .project-image img {
     height: auto;
     width: 600px;
  }

  .project-next-button {
    float: left;
    margin: -230px 0 0 90px;
  }

  .project-next-button img {
     position: absolute;
     width: 100px;
  }


  /* fiction view */

  .writing-text-container {
    margin-top: 50px;
    width: 86%;
  }

  .writing-img-container {
     display: none;
  }

  #footer {
    padding-top: 0px;
  }


}





/* iphone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

/* top container */

  #top-container {
    height: 1044px;
  }

  .pig-image-container {
    padding-top: 300px;
    position: relative;
  }

  .pig-image {
    width: 600px;
  }


/* nav */
  .bold-nav {
    font-weight: 900;
    font-size:70px;
  }

  .nav {
    text-align: center;
    font-size: 60px;
    padding-right: 0;
  }

  .nav a {
    text-decoration: none;
    padding: 0 .5em 0 .5em;
  }


/* links/footer */
  .link-image {
    width: 200px;
  }
  .link {
    display: inline-block;
    padding: 20px 215px 90px 30px;
  }
  #link-list-view {
    position: absolute;
  }

/* portfolio views */

  .project-about-container {
    height: 550px
  }

  .project-about {
    width: 80%;
  }

  .project-image {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 20px;
    text-align: center;
  }

  .project-image img {
     height: auto;
     width: 600px;
  }

  .project-next-button {
    float: left;
    margin: -230px 0 0 90px;
  }

  .project-next-button img {
     position: absolute;
     width: 100px;
  }


  /* fiction view */

  .writing-text-container {
    margin-top: 50px;
    width: 86%;
  }

  .writing-img-container {
     display: none;
  }


  #footer {
    padding-top: 0px;
  }


}
