


#top-container {
  height: 485px;
  min-height: 485px;
  margin: 0 auto;
}

.project-image.owl-carousel.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.owl-carousel .owl-item img {
  height: auto;
  -webkit-transform-style: preserve-3d;
}


.slick-prev:before,
.slick-next:before {
   display:none;
}

/*#link-list-view > div > div > a {
  width: 10px !important;
}
*/

.slick-slide {
   width: 0px;
}

.slick-list {
  margin-left: -335px;
  left: 50%;
  overflow: visible;
}

  .slick-track {

  }

/* home view */

.pig-image-container {
  height: 270px;
  padding-top: 150px;
}

.pig-image {
  min-width: 150px;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
}

.fly-pig {
}

.fly-pig-snout {
}

.fly-pig-tongue {
  overflow: hidden;
  margin: -18px 0 0 -7px;
}

.fly-pig-closed-eyes {
  visibility: hidden;
}




/* project view */

.project-container {
  min-width: 1100px;
  position: relative;
  padding-top: 65px;
}

.project-image {
  float: right;
  width: 55%;
}

.project-image.owl-carousel .owl-item img {
   height: 400px;
   margin-right: 100px;
  -webkit-transform-style: preserve-3d;
}

.project-about {
  float: left;
  margin: 0 20px 0 80px;
  width: 35%;
  height: 400px;
}

.project-about h1 {
  -webkit-text-stroke: .7px #000000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-size: 33px;
}

.project-about p {
  text-align: left;
}


.project-about h1 a {
  display: inline;
}

.project-github-link img {
  width: 30px;
  margin-bottom: -4px;
  padding-left: 6px;
}



/* Writing */

.writing-container {
  padding-top: 65px;
  min-width: 1280px;
  overflow: hidden;
}

.writing-img-container {
  width: 320px;
  padding-left: 120px;
}

.writing-img-container img {
  height: 400px;
}

.writing-text-container {
  float: right;
  margin-right: 12%;
  width: 35%;
  min-width: 336px;
}

.writing-text-container h1 {
  -webkit-text-stroke: .7px #000000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-size: 33px;
  margin-top: 0;
}

.writing-img-footer {
  font-size: 13px;
  padding-left: 0px;
}



/*pub*/
.pub-container {
  position: relative;

}
.pub-container h1 {
  margin-bottom: 5px;
}

.publication-list {
  position: relative;
  height: 350px;
  overflow-y: scroll;
}

.publication-list strong {
  font-weight: 700;
  font-size: 15px;
}

.publication-list strong:hover {
  color: #E18484;
  text-shadow: .7px -.7px #E18484
}

.publication-list h4 {
  font-family: 'Lato', sans-serif;
  margin-top: 14px;
  margin-bottom: 7px;
}

.publication-list ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

.publication-list li {
  line-height: 20px;
  font-size: 11px;
}

.publication-list a {
  text-decoration: none;
}

.publication-list a:hover {
  text-decoration: none;
  color: #000;
  text-shadow: .2px -.2px #000;
}

::-webkit-scrollbar { 
    display: none; 
}

/*bouncing pig on publication list*/

.bar {
  position:absolute;
  bottom: 100px;
  left:75%;
}

.bounce {
  position:absolute;
  margin-top:5px ; 
  height:50px;
  width:50px;
  -webkit-animation:bounce 1.5s infinite;
}

/*continuous*/
/*@-webkit-keyframes bounce {
  0%{margin-top:5px;}
  25%, 75% {margin-top:17px;}
  50% {margin-top:10px;}
  100% {margin-top:5px;}
}*/

/*with pause*/
@-webkit-keyframes bounce {
  0%{margin-top:5px;}
  10%, 30% {margin-top:17px;}
  20% {margin-top:10px;}
  50% {margin-top:5px;}
}











/*  link carousel */


#footer {
  padding-top: 20px;
  text-align: center;
}

.link {
  display: inline-block;
  padding: 20px 120px 90px 15px;
}

.link-image {
  min-width: 90px;
  width: 90px;
  position: absolute;
  text-align: center;
}

#link-list-view {
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  left: 0;
  right: 0;
  white-space: nowrap;
}






/* nav bar */

.bold-nav {
  font-weight: 900;
  font-size:1.3em;
}

.nav {
  text-align: center;
  font-size: 1.17em;
  padding: 0;
}

.nav a {
  text-decoration: none;
  padding: 0 .5em 0 .5em;
}

.nav li {
  display: inline;
}




/* animations */


.project-next-button-img {
    width: 53px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.project-next-button-img:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 6s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 6s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}









@media (max-width: 650px) {




  #top-container {
    margin: 0;
    width: 450px;
  }

/*project page*/

  .project-container {
    min-width: 450px;
  }

  .project-about {
    width: 320px;
    margin-left: 75px;
    height: 275px;
  }

  .project-image {
    float: left;
    padding-left: 120px;
  }
  .project-image img {
    height: 140px;
    margin-right: 0px;
  }



  .project-image .owl-nav {
   display: none;
  }
  .project-image.owl-carousel .owl-item img {
    height: 140px;
    -webkit-transform-style: preserve-3d;
  }

  .project-image.owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 140px;
    z-index: 1;
  }




/* writing page */
  .writing-container {
    min-width: 450px;
  }
  .writing-img-container {
    display: none;
  }



/* navbar */

  .nav {
    text-align: left;
    font-size: 1.17em;
    padding-left: 80px;
  }

  .link-image {
    max-width: 75px;
    min-width: 60px;
    width: 60px;
  }

  #mermaids-purse {}

  .link {
    display: inline;
    padding: 20px 75px 90px 10px;
  }
  .pig-image-container {
    margin-left: -140px;
  }
  .pig-image {
    left: 233px;
  }


  .footer-container #footer {
    text-align: center;
  }

  #link-list-view {
    width: 365px;
     position: absolute;
     margin-left: 30px;
     margin-right: 0px;
  }
/*
  #link-list-view.owl-carousel .owl-item img {
    height: auto;
  }

  #link-list-view.owl-carousel .owl-item {
    width: 0;
  }*/



  .slick-list {
  margin-left: -173px;
  left: 50%;
  overflow-x: visible;
  overflow-y: visible;
  }




}





/* iphone 6 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

/* top container */


  #top-container {
    height: 1044px;
    min-height: 1044px;
  }

  .pig-image-container {
    padding-top: 300px;
    position: relative;
  }

  .pig-image {
    width: 600px;
  }


/* nav */
  .bold-nav {
    font-weight: 900;
    font-size: 65px;
  }

  .nav {
    text-align: center;
    font-size: 55px;
    padding: 0;
  }

  .nav a {
    text-decoration: none;
    padding: 0 .5em 0 .5em;
  }


/* links/footer */
  .link-image {
    width: 200px;
  }
  .link {
    display: inline-block;
    padding: 20px 215px 90px 30px;
  }


/* portfolio views */

  .project-container {
    padding-top: 0px;
    min-width: 0;
  }

  .project-about-container {
    height: 655px;
  }

  .project-about {
    float: none;
    width: 80%;
  }

  .project-about h1 {
    font-size: 67px;
  }

  .project-about h3 {
    font-size: 50px;
  }

  .project-about p {
    font-size: 40px;
  }

  .project-image {
    float: none;
    width: 100%;
    /*position: relative;*/
  }

   .project-image img {
     margin: 30px;
   }

  .project-image .owl-nav {
   display: none;
  }

  .project-image.owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 1;
  }


  .slick-list {
     margin-left: -0px;
     left: 0%;
     overflow: hidden !important;
     height: 250px;
  }


  /* fiction view */

  .writing-container {
    min-width: 0;
    padding: 0;
  } 

  .writing-text-container {
    margin: 0;
    width: 80%;
    padding: 0 85px;
  }

  .writing-text-container h1 {
    font-size: 67px;
  }

  .writing-text-container p {
    font-size: 40px;
  }

  .writing-img-container {
     display: none;
  }

  #footer {
    padding-top: 0px;
  }






/*publications*/

  .publication-list {
    height: 945px;
  }

  .publication-list strong {
    font-weight: 700;
    font-size: 38px;
  }


  .publication-list h4 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 46px;
  }


  .publication-list li {
    line-height: 45px;
    font-size: 30px;
  }



}








































/* iphone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {



}
