body {
  min-width: 400px;
  color: #000000;
  font-family: 'Forum', cursive;
  font-size: 16px;
}

/*  slides  */

.first {
  height: 750px;
}

.projects {
  height: 750px;
}

.contact {
  height: 750px;
}

.header {
  padding-top: 260px;
  text-align: center;
}

.footer {
  padding-top: 40px;
  text-align: center;
}

.link {
  min-width: 90px;
  width: 90px;
  position: absolute;
  text-align: center;
}

.pig-image {
  margin: 90px 0 0 -265px;
  text-align: center;
}

.fly-pig {
  min-width: 150px;
  width: 300px;
  position:absolute;
}

.fly-pig-snout {
  min-width: 150px;
  width: 300px;
  position:absolute;
}

.fly-pig-tongue {
  min-width: 150px;
  width: 300px;
  position:absolute;
  overflow:hidden;
  margin: -18px 0 0 -7px;
}

.fly-pig-closed-eyes {
  min-width: 150px;
  width: 300px;
  position:absolute;
  visibility: hidden;
}

h1 {
  -webkit-text-stroke: 1px #000000;
  font-family: Garamond, Baskerville, Georgia, "Times New Roman", serif;
  font-size: 60px;
}

h2 {
  -webkit-text-stroke: .7px #000000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  margin: -40px 0 40px 0;
}

a {
  display: inline;
  padding: 20px 120px 90px 15px;
}





@media (max-width: 650px) {
  h1 {
    font-size: 38px;
  }
  h2 {
  	font-size: 16px;
  	margin: -25px 0 30px 0;
  }
  li {
    display: block;
    padding: 5px;
  }
  .header {
  padding-top: 140px;
  }
  .link {
    max-width: 75px;
    min-width:60px;
    width: 60px;
  }
  a {
    display: inline;
    padding: 20px 75px 90px 10px;
  }
  .pig-image {
    margin-left: -140px;
  }
  .fly-pig {
    width: 100px;
    position: absolute;
  }
  .fly-pig-snout {
    width: 100px;
    position: absolute;
  }
  .fly-pig-tongue {
    width: 100px;
    margin: -9px 0 0 -3px;
    position: absolute;
  }
  .fly-pig-closed-eyes {
    width: 100px;
    position:absolute;
    visibility: hidden;
  }
}