<!DOCTYPE HTML>

<head>
  <title>Anderson Holderness</title>
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
</head>

<body>
  
  <div id="top-container"></div>

  <div class="nav-container">
    <ul class="nav" id="nav" role="navigation">
      <li><a href="#contact" id="contact" class="bold-nav">Contact</a></li>
      <li>|</li>
      <li><a href="#portfolio" id="portfolio">Portfolio</a></li>
      <li>|</li>
      <li><a href="#writing" id="writing">Fiction</a></li>
    </ul>
  </div>
    
  <div class="footer-container">
    <h3 id="footer"></h3>
  </div>



  <script src="javascripts/vendor/jquery.js"></script>
  <script src="javascripts/vendor/underscore.js"></script>
  <script src="javascripts/vendor/backbone.js"></script> 

  <script type="text/template" name="home">
    <div class="pig-image-container">
      <img class="pig-image fly-pig" src="css/images/fly-pig-serious2.png">
      <img class="pig-image fly-pig-tongue" src="css/images/fly-pig-serious2-tongue.png">
      <img class="pig-image fly-pig-snout" src="css/images/fly-pig-serious2-snout.png">
      <img class="pig-image fly-pig-closed-eyes" src="css/images/closed-eyes.png">
    </div>
  </script>

  <script type="text/template" name="projects">
    <div class="project-container">
    <div class="project-about-container">
      <div class ="project-about">
        <h1>
          <%= title %>
          <a class="project-github-link" href=<%= github %>>
            <img src=<%= githubIcon %>>
          </a>
        </h1>
        <h3><%= subtitle %></h3>
        <p><%= description %></p>
        <p>Technologies: <%= technologies %></p>
      </div>
      </div>
      <div class="project-image">
        <img src=<%= image %>>
      </div>
    </div>
        <a class="project-next-button" href=<%= link %>>
         <img class="project-next-button-img" src="css/images/next-icon.png">
        </a>
  </script>

  <script type="text/template" name="writing">
    <div class="writing-container">
      <div class="writing-text-container">
        <h1>Blurbs</h1>
        <p>
          I laugh out loud every time I read "
          <a href="http://www.smokelong.com/flash/andersonholderness38q.asp">
            Messing with Texas
          </a>
          ," where Anderson Holderness manages to combine the strange with 
          the even stranger (I still say I want to have a beer with this guy&mdash;just read my 
          <a href="http://www.smokelong.com/interview/andersonholderness38.asp">
            interview
          </a> 
          with him and you will, too.) 
          <br />
          <br />
          &emsp;&emsp;&emsp;&emsp;- Tara Laskowski, <i>SmokeLong Quarterly</i>
        </p>
        <br />
        <p>
          "<a href="http://www.swampbiscuitsandtea.com/into-the-distance
          -by-anderson-holderness/">
            Into the Distance
          </a>
          ," a humorously bizarre tale of a man trapped in a strange room with a luminous infant. 
          <br />
          <br />
          &emsp;&emsp;&emsp;&emsp;- Henry Sane, <i>Swamp Biscuits & Tea</i>
        </p>
      </div>
      <div class="writing-img-container">
        <img src="css/images/holderness38.png"
      </div>
      <div class='writing-img-footer'>Custom artwork by Brooke Elliott for "Messing with Texas"</div>
    <div>
  </script>

  <script type="text/template" name="pubs">
    <div  class="pub-container">
    </div>
  </script>



  <script src="javascripts/models/project.js"></script>
  <script src="javascripts/models/link.js"></script>
  <script src="javascripts/collections/linklist.js"></script>
  <script src="javascripts/views/home.js"></script>
  <script src="javascripts/views/link.js"></script>
  <script src="javascripts/views/linklist.js"></script>
  <script src="javascripts/views/navlinklist.js"></script>
  <script src="javascripts/views/project.js"></script>
  <script src="javascripts/views/writing.js"></script>
  <script src="javascripts/main.js"></script>
  <script src="javascripts/routers/router.js"></script>





</body>