<!DOCTYPE HTML>

<head>
  <title>Anderson Holderness</title>
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
</head>

<body>
  
  <div id="top-container"></div>

  <div>
    <ul class="nav" id="nav" role="navigation">
      <li><a href="#contact" id="contact" class="bold-nav">Contact</a></li>
      <li>|</li>
      <li><a href="#portfolio" id="portfolio">Portfolio</a></li>
      <li>|</li>
      <li><a href="http://www.salttooth.co/p/creative-writing-publications.html" id="fiction">Fiction</a></li>
    </ul>
    
    <h3 id="footer"></h3>

    <div class="note-wrapper">
       <h5 id="note">This site uses jQuery and Backbone.js</h5>
    </div>
   
  </div>



  <script src="javascripts/vendor/jquery.js"></script>
  <script src="javascripts/vendor/underscore.js"></script>
  <script src="javascripts/vendor/backbone.js"></script> 

  <script type="text/template" name="home">
    <div class="welcome-container">
      <div class="pig-image">
        <img class="fly-pig" src="css/images/fly-pig-serious2.png">
        <img class="fly-pig-tongue" src="css/images/fly-pig-serious2-tongue.png">
        <img class="fly-pig-snout" src="css/images/fly-pig-serious2-snout.png">
        <img class="fly-pig-closed-eyes" src="css/images/closed-eyes.png">
      </div>

      <div class="welcome">
        <h1 class="welcome-name">Anderson Holderness</h1>
        <h2 class="welcome-professions">WRITER. &nbsp;&nbsp; TINKERER. &nbsp;&nbsp; WEB DEVELOPER.</h2>
      </div>
    </div>
  </script>

  <script type="text/template" name="projects">
    <div class="project-container">
      <div class ="project-about">
        <h1><%= title %></h1>
        <h3><%= subtitle %></h3>
        <p><%= description %></p>
        <p>Technologies: <%= technologies %></p>
        <a href=<%= link %>>
          <img class="project-next-button-img" src="css/images/next-icon.png">
        </a>
      </div>
      <div class="project-image">
        <img src=<%= image %>>
      </div>
    </div>
  </script>

  <script src="javascripts/models.js"></script>
  <script src="javascripts/collections.js"></script>
  <script src="javascripts/views.js"></script>
  <script src="javascripts/main.js"></script>
  <script src="javascripts/router.js"></script>

</body>