


// link carousel


#footer {
  padding-top: 20px;
  text-align: center;
  #link-list-view {
    position: absolute;
    margin-left: auto;
    margin-right:auto;
    left: 0;
    right: 0;
    white-space: nowrap;
    .link {
      display: inline-block;
      padding: 20px 120px 90px 15px;
      .link-image {
        min-width: 90px;
        width: 90px;
        position: absolute;
        text-align: center;
      }
    }
  }
  @media (max-width: 650px) {
    text-align: center;
    #link-list-view {
      width: 365px;
      position: absolute;
      margin-left: 30px;
      margin-right: 0px;
      .link {
        display: inline;
        padding: 20px 75px 90px 10px;

        .link-image {
          max-width: 75px;
          min-width: 60px;
          width: 60px;
        }
      }
    }
  }
}










