


// link carousel

#footer {
  padding-top: 20px;
  text-align: center;
}

.link {
  display: inline-block;
  padding: 20px 120px 90px 15px;
}

.link-image {
  min-width: 90px;
  width: 90px;
  position: absolute;
  text-align: center;
}

#link-list-view {
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  left: 0;
  right: 0;
  white-space: nowrap;
}



