


body {
  min-width: 450px;
  color: #000000;
  font-family: 'Forum', futura;
  font-size: 16px;
  background-color: whitesmoke;
}


a {
  &:active, &:focus {
    outline: none;
  }
  &:link {
    color: #000;
  }
  &:visited {
    color: #000;
  }
  &:hover {
    color: #E18484;
    text-shadow: .7px -.7px #E18484
  }
}

