


body {
  min-width: 450px;
  color: #000000;
  font-family: 'Forum', futura;
  font-size: 16px;
  background-color: whitesmoke;
}

a {
  &:active, &:focus {
    outline: none;
  }
  &:link {
    color: #000;
  }
  &:visited {
    color: #000;
  }
  &:hover {
    color: #E18484;
    text-shadow: .7px -.7px #E18484
  }
}


::-webkit-scrollbar { 
  display: none; 
}


#top-container {
  height: 485px;
  min-height: 485px;
  margin: 0 auto;
  @media (max-width: 650px) {
    margin: 0;
    width: 450px;
  }
  // iphone6
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    height: 1044px;
    min-height: 1044px; 
  }
}

.slick-prev:before,
.slick-next:before {
   display:none;
}

.slick-slide {
   width: 0px;
}

.slick-list {
  margin-left: -335px;
  left: 50%;
  overflow: visible;
}

.slick-track {
  max-width: 1600px !important;
}

@media (max-width: 650px) {
  .slick-list {
    margin-left: -173px;
    left: 50%;
    overflow-x: visible;
    overflow-y: visible;
  }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) {
  .slick-list {
    margin-left: -0px;
    left: 0%;
    overflow: hidden !important;
    height: 250px;
  }
}



/* iphone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {}
