


body {
  min-width: 450px;
  color: #000000;
  font-family: 'Forum', futura;
  font-size: 16px;
  background-color: whitesmoke;
}


a {
  &:active, &:focus {
    outline: none;
  }
  &:link {
    color: #000;
  }
  &:visited {
    color: #000;
  }
  &:hover {
    color: #E18484;
    text-shadow: .7px -.7px #E18484
  }
}




#top-container {
  height: 485px;
  min-height: 485px;
  margin: 0 auto;
}

.project-image.owl-carousel.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.owl-carousel .owl-item img {
  height: auto;
  -webkit-transform-style: preserve-3d;
}


.slick-prev:before,
.slick-next:before {
   display:none;
}

.slick-slide {
   width: 0px;
}

.slick-list {
  margin-left: -335px;
  left: 50%;
  overflow: visible;
}

.slick-track {}


